@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.light-mode {
  background-color: #f9f9f9;
  color: #000;
}

.dark-mode {
  background-color: #0b0020;
  color: #fff;
}

.dark-mode .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(0, 55, 255, 0.4862745098);
}

.light-mode .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(0, 47, 255, 0.2431372549);
}

.nav-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.logo-title {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.nav-items {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  transition: 0.4s all ease;
}

.nav-link:hover {
  border-bottom: 2px solid #0008ff;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #0d0d0d;
  text-transform: capitalize;
}

.dark-mode .nav-link {
  color: #f9f9f9;
}

.toggle-f-nav {
  display: none;
  margin-right: 0.2rem;
}

.bxl-facebook-circle {
  color: #0008ff;
}

.bxl-instagram-alt {
  background: linear-gradient(45deg, #0051ff, #aa00ff, #ff008c);
  -webkit-background-clip: text;
  color: transparent;
}

.bxl-telegram {
  color: #0008ff;
}

.bxl-github {
  color: #aa00ff;
}

#screenModeBtn {
  border: none;
  outline: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.3rem;
}

.bx-code-alt {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #0008ff;
}

#searchinput {
  border: none;
  outline: none;
  font-size: 16px; /* Use a specific value for plain CSS */
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  color: #000;
}

#searchinput::-moz-placeholder {
  color: #090909; /* Set the placeholder color */
  opacity: 1; /* Ensure full opacity */
}

#searchinput::placeholder {
  color: #090909; /* Set the placeholder color */
  opacity: 1; /* Ensure full opacity */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-110%);
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.4s all linear;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-upper-align {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.logo-contain-sidebar {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-items-sidebar {
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  list-style-type: none;
  gap: 0.5rem;
}

.nav-lists-sidebar {
  width: 100%;
  padding: 1rem 0 1rem 0.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #e3e3e3;
  border-radius: 0.5rem;
}

.nav-link-sidebar {
  text-decoration: none;
  color: #000;
}

.downalignSidebar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e3e3e3;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.social-items {
  display: flex;
  justify-content: start;
  align-items: start;
  list-style-type: none;
  gap: 0.5rem;
}

.social-links {
  font-size: 1.8rem;
  text-decoration: none;
}

#screenModeBtn {
  background-color: transparent;
  font-size: 1.8rem;
  color: #0b0020;
}

.dark-mode #screenModeBtn {
  color: #f9f9f9;
}

.dark-mode .sidebar {
  background-color: #0b0020;
}

.dark-mode .nav-lists-sidebar {
  background-color: #0051ff;
}

.dark-mode .nav-link-sidebar {
  color: #f9f9f9;
}

.dark-mode .downalignSidebar {
  background-color: transparent;
}

.dark-mode .bx-code-alt {
  color: #fff;
}

.logo-contain-sidebar {
  gap: 0.5rem;
}

.dark-mode .social-lists .bxs-moon, .bxs-sun {
  color: white;
}

.light-mode .social-lists .bxs-moon, .bxs-sun {
  color: #0d0d0d;
}

.social-links:active {
  color: #0008ff;
}

.section-home {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  border-radius: 10px;
}

.index-text-section {
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
}

.heading-contain {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.heading-contain h2 {
  font-size: 2rem;
  font-weight: 440;
  text-transform: capitalize;
}

.typewritter {
  border-right: 3px solid #f700ff;
  padding-right: 0.4rem;
  flex-wrap: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blink-caret 0.75s step-end infinite;
  color: #d900ff;
  display: block;
  min-height: 1.5em;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(238, 0, 255);
  }
}
.heading-contain h2 span {
  color: #d000ff;
}

.img-index-contain {
  display: flex;
  justify-content: end;
  align-items: end;
}

#img-main {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  z-index: 1;
}

.text-contain-index-pera {
  font-size: 1rem;
  text-transform: capitalize;
  text-transform: capitalize;
}

.button-index-contain {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  margin-top: 0.2rem;
}

#Openlink, #Closelink {
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: #0a0a0a;
  color: #fff;
  text-transform: capitalize;
  border-radius: 3px;
}

.dark-mode #Openlink, #Closelink {
  background-color: #aa00ff;
}

.article {
  display: flex;
  justify-content: space-around;
}

.course-img {
  width: 100%;
  height: 100%;
}

.course-card {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 0.7rem;
  box-shadow: 0px 0px 3px 0.1px #999;
  padding-bottom: 0.5rem;
  background: #fff;
}

.dark-mode .course-card {
  background-color: #0011ff;
  box-shadow: 0px 0px 3px 0.1px #333;
}

.course-img-contain {
  border-radius: 10px;
  overflow: hidden;
}

.course-span {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  background-color: #e3e3e3;
  margin: auto auto auto 0;
  text-transform: capitalize;
}

.dark-mode .course-span {
  background-color: #333;
}

.text-contain-course {
  display: flex;
  justify-content: start;
  gap: 0.4rem;
  flex-direction: column;
  padding: 0 0.5rem;
}

.heading-course {
  font-size: 1.2rem;
  font-weight: 500;
}

.text-course {
  font-weight: 400;
  font-size: 1rem;
}

#openlink-course {
  display: flex;
  justify-content: start;
  margin: auto auto auto 0;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #0037ff;
  color: #fff;
  border-radius: 5px;
}

.dark-mode #openlink-course {
  background-color: #fff;
  color: #000;
}

.global-heading {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  margin: 0.4rem;
}

.testi-card {
  width: 50%;
  border-radius: 10px;
  padding: 0.5rem;
  height: 40vh;
  box-shadow: 0px 0px 3px 0.1px #b8b8b8;
  background-color: #fff;
}

.dark-mode .testi-card {
  background-color: transparent;
  box-shadow: 0px 0px 3px 0.1px #333;
}

.fa-quote-right {
  font-size: 2rem;
  opacity: 0.7;
}

.text-testi {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  color: #0037ff;
}

.testi-heading {
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

.testi-role {
  opacity: 0.7;
}

.testi-head {
  margin-top: 2rem;
  color: #d900ff;
}

footer {
  display: flex;
  justify-content: start;
  padding: 1rem 1rem;
  margin-top: 2rem;
  align-items: center;
}

.img-contain-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  padding-right: 1rem;
}

.footer-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 0.5px 0.2px #999;
}

.f-user-name {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.8;
}

.config-footer {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  padding-left: 1rem;
  border-left: 4px solid #666;
}/*# sourceMappingURL=style.css.map */